:root {
    --black: rgb(47, 50, 58);
    --dark-purple-1: rgb(119, 86, 122);
    --dark-purple-2: rgb(196, 122, 192);
    --light-purple-1: rgb(227, 158, 193);
    --light-purple-2: rgb(222, 186, 192);
}

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80px auto 60px;
    grid-template-areas: 
    'header'
    'main'
    'footer';
}
h2 {
    color: var(--black);
}
header {
    background-color: var(--dark-purple-1);
    display: flexbox;
    flex-direction: column;
    position: sticky;
    top: 0px;
    grid-area: header;
    border-bottom: 1px solid var(--black);
}
main {
    background-color: var(--light-purple-1);
    grid-area: main;
    display: flexbox;
}
footer {
    background-color: var(--light-purple-2);
    grid-area: footer;
    display: flexbox;
    border-top: 1px solid var(--black);
}
.parent-div {
    text-align: center;
    height: 80px;
}
.child-div {
    display: inline-block;
    vertical-align: middle;
    width: 19%;
    height: 80px;
}
button {
    border: none;
    border-radius: 15px;
    height: 80px;
    width: 120px;
    background-color: var(--dark-purple-1);
}
button:hover {
    background-color: rgb(99, 72, 101);
}
button:active {
    transform: translateY(1px);
}
@media screen and (min-width: 600px){

	/* CSS für Tablets Hochformat grösser 600px */

} 

@media screen and (min-width: 900px){

	/* CSS für Tablets Querformat grösser 900px */

} 

@media screen and (min-width: 1200px){
	/* CSS für Labtops grösser 1200px */

} 

@media screen and (min-width: 1800px){
	/* CSS für grosse Desktops ab 1800px */

} 